<p class="text-success"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="container mt-5">
  <h1 class="mb-4">Posts</h1>

  <div id="posts" class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <%= render partial: 'post', locals: { post: post } %>
            <p>
              <%= link_to "Show this post", post_path(post), class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New post", new_post_path, class: "btn btn-success" %>
  </div>
<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>

</div>
